<footer class="container-fluid py-4 py-xl-5 bg-gray-dark text-white">
    <div class="container-lg">
        <div class="d-none d-xl-block">
            {% component "menu" %}
        </div>

        <div class="border-top-xl border-xl-2 border-xl-secondary pt-xl-4 mt-xl-4 d-flex justify-content-between">
            <p class="mb-0 d-flex align-items-center">
                {{ "now"|date("Y") }} &copy;

                <a href="{{ 'homepage'|page }}" class="copyright ms-1">
                    <span class="bg-white bg-secondary-hover transition-base"></span>
                </a>
            </p>

            <p class="mb-0">
                <a href="https://www.hucr.cz" target="_blank" class="signature">
                    <span class="bg-white bg-secondary-hover transition-base"></span>
                </a>
            </p>
        </div>
    </div>
</footer>
