<div class="contacts-card p-4 d-flex flex-column flex-sm-row">
    <div class="text-center">
        <img src="{{ 'assets/images/contact/troch.png'|theme }}" alt="">
    </div>

    <div class="mt-3 mt-sm-0 ms-sm-4">
        <p class="text-gray-dark text-uppercase ff-argentum-bold fs-20 mb-0 text-center text-sm-start">
            {{ "contacts.card.01.job"|_ }}
        </p>

        <p class="text-white fs-25 ff-argentum-bold mb-2 text-center text-sm-start">
            Pavel Troch
        </p>

        <p class="d-flex align-items-center mb-0 justify-content-center justify-content-sm-start">
            <i class="bi bi-telephone text-gray-dark me-3 fs-20"></i>

            <a href="tel:+420 774 750 533" class="link-white text-gray-dark-hover transition-base">
                +420 774 750 533
            </a>
        </p>

        <p class="d-flex align-items-center mb-0 justify-content-center justify-content-sm-start">
            <i class="bi bi-envelope text-gray-dark me-3 fs-20"></i>

            <a href="mailto:office@bosaltech.cz" class="link-white text-gray-dark-hover transition-base">
                office@bosaltech.cz
            </a>
        </p>
    </div>
</div>

<div class="contacts-card p-4 d-flex flex-column flex-sm-row mt-4">
    <div class="text-center">
        <img src="{{ 'assets/images/contact/kutak.png'|theme }}" alt="">
    </div>

    <div class="mt-3 mt-sm-0 ms-sm-4">
        <p class="text-gray-dark text-uppercase ff-argentum-bold fs-20 mb-0 text-center text-sm-start">
            {{ "contacts.card.02.job"|_ }}
        </p>

        <p class="text-white fs-25 ff-argentum-bold mb-2 text-center text-sm-start">
            Jan Kuťák
        </p>

        <p class="d-flex align-items-center mb-0 justify-content-center justify-content-sm-start">
            <i class="bi bi-telephone text-gray-dark me-3 fs-20"></i>

            <a href="tel:+420 774 750 533" class="link-white text-gray-dark-hover transition-base">
                +420 774 750 533
            </a>
        </p>

        <p class="d-flex align-items-center mb-0 justify-content-center justify-content-sm-start">
            <i class="bi bi-envelope text-gray-dark me-3 fs-20"></i>

            <a href="mailto:jan.kutak@bosaltech.cz" class="link-white text-gray-dark-hover transition-base">
                jan.kutak@bosaltech.cz
            </a>
        </p>
    </div>
</div>

<div class="contacts-card kutakova p-4 d-flex flex-column flex-sm-row mt-4 w-sm-75 w-md-50 w-lg-100 w-xl-75">
    <div>
        <p class="job text-gray-dark text-uppercase ff-argentum-bold fs-20 mb-0 text-center text-sm-start">
            {{ "contacts.card.03.job"|_ }}
        </p>

        <p class="text-white fs-25 ff-argentum-bold mb-2 text-center text-sm-start">
            Linda Kuťáková
        </p>

        <p class="d-flex align-items-center mb-0 justify-content-center justify-content-sm-start">
            <i class="bi bi-envelope text-gray-dark me-3 fs-20"></i>

            <a href="mailto:office@bosaltech.cz" class="link-white text-gray-dark-hover transition-base">
                office@bosaltech.cz
            </a>
        </p>
    </div>
</div>

<div class="contacts-card quality p-4 d-flex flex-column flex-sm-row mt-4 w-sm-50">
    <div>
        <p class="text-gray-dark text-uppercase ff-argentum-bold fs-20 mb-1 text-center text-sm-start">
            {{ "contacts.card.04.quality"|_ }}
        </p>

        <p class="d-flex align-items-center mb-0 justify-content-center justify-content-sm-start">
            <i class="bi bi-envelope text-gray-dark me-3 fs-20"></i>

            <a href="mailto:qs@bosaltech.cz" class="link-white text-gray-dark-hover transition-base">
                qs@bosaltech.cz
            </a>
        </p>
    </div>
</div>
