<div class="container-fluid py-5" id="about-us">
    <div class="container-lg py-lg-5">
        <div class="row">
            <h2 class="h1 mb-4">
                {{ "homepage.about-us.heading"|_ }}
            </h2>

            <div class="col-12 col-lg-7 pe-xxl-5">
                <div class="content pe-xl-5">
                    {% content "homepage/about-us" %}
                </div>
            </div>

            <div class="col-12 mt-4 col-lg-5 mt-lg-0">
                <h2 class="mb-4">
                    {{ "homepage.about-us.numbers.heading"|_ }}
                </h2>

                <div class="numbers p-4 position-relative px-sm-5 px-lg-4 px-xl-5 row row-cols-2 g-0 row-cols-sm-3 row-cols-lg-2 row-cols-xxl-3">
                    <div class="number text-white col">
                        <p class="mb-0 fs-32 text-center ff-argentum-bold lh-1 pb-3">
                            20
                        </p>

                        <p class="mb-0 text-center text-uppercase fs-14 ff-argentum-bold heading position-relative pt-3 lh-sm">
                            {{ "homepage.about-us.numbers.01"|_ }}
                        </p>
                    </div>

                    <div class="number text-white col">
                        <p class="mb-0 fs-32 text-center ff-argentum-bold lh-1 pb-3">
                            154
                        </p>

                        <p class="mb-0 text-center text-uppercase fs-14 ff-argentum-bold heading position-relative pt-3 lh-sm">
                            {{ "homepage.about-us.numbers.02"|_ }}
                        </p>
                    </div>

                    <div class="number text-white col-12 mt-4 col-sm mt-sm-0 col-lg-12 mt-lg-4 col-xxl mt-xxl-0">
                        <p class="mb-0 fs-32 text-center ff-argentum-bold lh-1 pb-3">
                            25 000
                        </p>

                        <p class="mb-0 text-center text-uppercase fs-14 ff-argentum-bold heading position-relative pt-3 lh-sm">
                            {{ "homepage.about-us.numbers.03"|_ }}
                        </p>
                    </div>
                </div>

                <div class="mt-4 mt-lg-5">
                    <p class="mb-0 text-center text-md-start">
                        <a href="{{ 'iso-9001-2015.pdf'|media }}" target="_blank">
                            <img src="{{ 'assets/images/iso.svg'|theme }}" alt="ISO">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
