<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide position-relative">
            <img src="{{ 'assets/images/slides/01.jpg'|theme }}" alt="slide01" class="img-fluid">

            <div class="container-lg position-absolute top-0 start-50 translate-middle-x h-100 d-flex align-items-center justify-content-center">
                <p class="fs-55 text-white mb-0 ff-argentum-regular text-center">
                    {% content "slides/01" %}
                </p>
            </div>
        </div>

        <div class="swiper-slide">
            <img src="{{ 'assets/images/slides/02.png'|theme }}" alt="slide02" class="img-fluid">

            <div class="container-lg position-absolute top-0 start-50 translate-middle-x h-100 d-flex align-items-center justify-content-center">
                <p class="fs-55 text-white mb-0 ff-argentum-regular text-center lh-1">
                    {% content "slides/02" %}
                </p>
            </div>
        </div>

        <div class="swiper-slide">
            <img src="{{ 'assets/images/slides/03.jpg'|theme }}" alt="slide02" class="img-fluid">

            <div class="container-lg position-absolute top-0 start-50 translate-middle-x h-100 d-flex align-items-center justify-content-center">
                <p class="fs-55 text-white mb-0 ff-argentum-regular text-center">
                    {% content "slides/03" %}
                </p>
            </div>
        </div>
    </div>
</div>
