<div class="equipment row row-cols-1 row-cols-sm-2 row-cols-md-1 g-4">
    <div class="col col-lg-9">
        <div class="border border-primary border-2 p-4 position-relative">
            <div class="row">
                <div class="col-12 col-md-5 d-md-flex align-items-md-center justify-content-md-center">
                    <p class="img mb-md-0 text-center">
                        <img src="{{ 'assets/images/equipment/measurement01.jpg'|theme }}" alt="" class="img-fluid">
                    </p>
                </div>

                <div class="col-12 col-md-7 d-md-flex align-items-md-center">
                    <div>
                        <h3 class="fs-20">
                            Carl Zeiss CONTURA
                        </h3>

                        <p class="mb-3 pb-3 border-bottom border-2 description">
                            CNC Messtechnik im klimatisierten Messraum.
                        </p>

                        <p class="fs-14">
                            Die Feinwerktechnik verlangt und ermöglicht höchste Präzision. Diese zu gewährleisten, ist in
                            erster Linie Aufgabe der exakten Programmierung der CNC-Maschinen durch unsere erfahrenen Fachkräfte.
                        </p>

                        <p class="mb-0 fs-14">
                            Präzis zu produzieren ist das Eine - dies auch hieb- und stichfest zu dokumentieren das Andere.
                            Dies erfordert einen geeigneten vollklimatisierten Messraum, modernste CNC- und 3D-Messtechnik
                            sowie ein entsprechendes Knowhow.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
