<div class="equipment row row-cols-1 g-4">
    <div class="col col-lg-9">
        <div class="border border-primary border-2 p-4 position-relative">
            <div class="row">
                <div class="col-12 col-md-5 d-md-flex align-items-md-center justify-content-md-center">
                    <p class="img mb-md-0 text-center">
                        <img src="{{ 'assets/images/equipment/measurement01.jpg'|theme }}" alt="" class="img-fluid">
                    </p>
                </div>

                <div class="col-12 col-md-7 d-md-flex align-items-md-center">
                    <div>
                        <h3 class="fs-20">
                            Carl Zeiss CONTURA
                        </h3>

                        <p class="mb-3 pb-3 border-bottom border-2 description">
                            {{ "manufacturing.measurement.machine.01.desc"|_ }}
                        </p>

                        <p class="mb-0 fs-14">
                            {{ "manufacturing.measurement.machine.01.text"|_ }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
