<div class="equipment row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
    <div class="col">
        <div class="border border-primary border-2 p-4 position-relative h-100 d-flex flex-column">
            <p class="img">
                <img src="{{ 'assets/images/equipment/turning01.jpg'|theme }}" alt="" class="img-fluid">
            </p>

            <h3 class="fs-20 mt-auto">
                CNC Lathe Haas Automation ST-20Y
            </h3>

            <p class="mb-3 pb-3 border-bottom border-2 description">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            </p>

            <p class="mb-0 fs-14">
                {{ "manufacturing.turning.parameter.01"|_ }}: 533 mm <br>
                {{ "manufacturing.turning.parameter.02"|_ }}: 572 mm <br>
                {{ "manufacturing.turning.parameter.03"|_ }}: 64 mm <br>
            </p>
        </div>
    </div>

    <div class="col">
        <div class="border border-primary border-2 p-4 position-relative h-100 d-flex flex-column">
            <p class="img">
                <img src="{{ 'assets/images/equipment/turning02.jpg'|theme }}" alt="" class="img-fluid">
            </p>

            <h3 class="fs-20 mt-auto">
                DMG CTX Alpha 300
            </h3>

            <p class="mb-3 pb-3 border-bottom border-2 description">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            </p>

            <p class="mb-0 fs-14">
                {{ "manufacturing.turning.parameter.01"|_ }}: 320 mm <br>
                {{ "manufacturing.turning.parameter.02"|_ }}: 600 mm <br>
                {{ "manufacturing.turning.parameter.03"|_ }}: 65 mm <br>
            </p>
        </div>
    </div>

    <div class="col">
        <div class="border border-primary border-2 p-4 position-relative h-100 d-flex flex-column">
            <p class="img">
                <img src="{{ 'assets/images/equipment/turning03.jpg'|theme }}" alt="" class="img-fluid">
            </p>

            <h3 class="fs-20 mt-auto">
                DMG ECO 310
            </h3>

            <p class="mb-3 pb-3 border-bottom border-2 description">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            </p>

            <p class="mb-0 fs-14">
                {{ "manufacturing.turning.parameter.01"|_ }}: 320 mm <br>
                {{ "manufacturing.turning.parameter.02"|_ }}: 600 mm <br>
                {{ "manufacturing.turning.parameter.03"|_ }}: 65 mm <br>
            </p>
        </div>
    </div>
</div>
